/semana 9- encuentros 30-31-32/ejercicios intro java/nbproject/private/
/semana 9- encuentros 30-31-32/ejercicios intro java/build/
/semana 10- encuentro 33-34-35-36/EjerciciosFinalGuia/nbproject/private/
/semana 10- encuentro 33-34-35-36/EjerciciosFinalGuia/build/
/semana 10- encuentro 33-34-35-36/EjerciciosFinalGuia/dist/
/POO/semana 14-encuentros 41,42,43,44/POOEj08/nbproject/private/
/POO/semana 15-encuentros 45,46/ArrancaEl10/nbproject/private/
/POO/semana 14-encuentros 41,42,43,44/POOEj09/nbproject/private/
/POO/semana 14-encuentros 41,42,43,44/POOEj10/nbproject/private/
/POO/semana 14-encuentros 41,42,43,44/POOEj09/build/
/POO/semana 16-encuentros 47,48,49,50/POOEj13/nbproject/private/
/POO/semana 16-encuentros 47,48,49,50/POOEj13/build/
/POO/semana 14-encuentros 41,42,43,44/POOEj08/build/
/POO/semana 16-encuentros 47,48,49,50/POOEj10/nbproject/private/
/POO/semana 16-encuentros 47,48,49,50/POOEj10/build/
/POO/semana 16-encuentros 47,48,49,50/extras/POO_Extra_ejercicio_5/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/EjercicioExtra03/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/EjercicioExtra03/build/
/POO/semana 17-encuentros 51,52,53,54/EjercicioExtra04/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/POOEj14/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/POOEj14/build/
/POO/semana 17-encuentros 51,52,53,54/POOEj11/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/DesafioPOO3/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/POOEj11/build/
/POO/semana 18-encuentros 55,56,57,58/DesafioPOO3/build/
/JUnit/Semana 19 - encuentros 59 y 60/JUnitEj01/nbproject/private/
/JUnit/Semana 19 - encuentros 59 y 60/JUnitEj01/build/
/JUnit/Semana 19 - encuentros 59 y 60/JUnitEj02/nbproject/private/
/JUnit/Semana 19 - encuentros 59 y 60/JUnitEj02/build/
/colecciones/Semana 19-encuentros 61,21/ColecEj01/nbproject/private/
/colecciones/Semana 19-encuentros 61,21/Ejercicio1-Colecciones/nbproject/private/
/colecciones/Semana 19-encuentros 61,21/ColecEj01/build/
/colecciones/Semana 19-encuentros 61,21/Ejercicio1-Colecciones/build/
/colecciones/Semana 19-encuentros 61,21/Ejercicio2-Colecciones_1/nbproject/private/
/colecciones/Semana 19-encuentros 61,21/Ejercicio2-Colecciones_1/build/
/colecciones/Semana 19-encuentros 61,21/EjercicioPersona/target/
/Relaciones entre clases/EjercicioJugador/nbproject/private/
/Relaciones entre clases/Semana 22 encuentros 71,72,73/RelacionesDeClases/nbproject/private/
/Relaciones entre clases/Semana 22 encuentros 71,72,73/RelacionesDeClases/build/
/Relaciones entre clases/Semana 22 encuentros 71,72,73/Ejercicio1/nbproject/private/
/Relaciones entre clases/Semana 22 encuentros 71,72,73/Ejercicio1/build/
/Relaciones entre clases/Semana 22 encuentros 71,72,73/prueba diagrama/nbproject/private/
/Relaciones entre clases/Semana 22 encuentros 71,72,73/EjercicioPersona1/nbproject/private/
/Relaciones entre clases/semana 23 encuentros 74,75,76,77/ejeExtra2/nbproject/private/
/Relaciones entre clases/semana 24 encuentros 78,79,80/EjercicioExtra_04/nbproject/private/
/Relaciones entre clases/semana 24 encuentros 78,79,80/votacionEgg/target/
/Relaciones entre clases/semana 23 encuentros 74,75,76,77/DesafioRelaciones/nbproject/private/
/Relaciones entre clases/semana 24 encuentros 78,79,80/desafioRelaciones/target/
/Relaciones entre clases/semana 24 encuentros 78,79,80/DesafioRelaciones1/nbproject/private/
/Relaciones entre clases/semana 24 encuentros 78,79,80/DesafioRelaciones1/build/
/Relaciones entre clases/semana 24 encuentros 78,79,80/desafioColeccionesEntreClases/nbproject/private/
/Herencia/Semana 25 encuentros 81,82,83,84/RelacionesDeClases/nbproject/private/
/Herencia/Semana 25 encuentros 81,82,83,84/java-ej-main/GymV2/build/
/Herencia/Semana 25 encuentros 81,82,83,84/java-ej-main/GymV2/nbproject/private/
/Herencia/Semana 25 encuentros 81,82,83,84/java-ej-main/holaConJunit/build/
/Herencia/Semana 25 encuentros 81,82,83,84/java-ej-main/holaConJunit/nbproject/private/
/Herencia/Semana 25 encuentros 81,82,83,84/HerenciaYPoli-ej1/nbproject/private/
/Herencia/Semana 25 encuentros 81,82,83,84/HerenciaYPoli-ej1/build/
/Herencia/Semana 25 encuentros 81,82,83,84/HerenciaEje1/nbproject/private/
/Herencia/Semana 25 encuentros 81,82,83,84/HerenciaEje1/build/
/Herencia/Semana 25 encuentros 81,82,83,84/HerenciaEje2/nbproject/private/
/Herencia/Semana 25 encuentros 81,82,83,84/HerenciaEje2/build/
