/semana 9- encuentros 30-31-32/ejercicios intro java/nbproject/private/
/semana 9- encuentros 30-31-32/ejercicios intro java/build/
/semana 10- encuentro 33-34-35-36/EjerciciosFinalGuia/nbproject/private/
/semana 10- encuentro 33-34-35-36/EjerciciosFinalGuia/build/
/semana 10- encuentro 33-34-35-36/EjerciciosFinalGuia/dist/
/POO/semana 14-encuentros 41,42,43,44/POOEj08/nbproject/private/
/POO/semana 15-encuentros 45,46/ArrancaEl10/nbproject/private/
/POO/semana 14-encuentros 41,42,43,44/POOEj09/nbproject/private/
/POO/semana 14-encuentros 41,42,43,44/POOEj10/nbproject/private/
/POO/semana 14-encuentros 41,42,43,44/POOEj09/build/
/POO/semana 16-encuentros 47,48,49,50/POOEj13/nbproject/private/
/POO/semana 16-encuentros 47,48,49,50/POOEj13/build/
/POO/semana 14-encuentros 41,42,43,44/POOEj08/build/
/POO/semana 16-encuentros 47,48,49,50/POOEj10/nbproject/private/
/POO/semana 16-encuentros 47,48,49,50/POOEj10/build/
/POO/semana 16-encuentros 47,48,49,50/extras/POO_Extra_ejercicio_5/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/EjercicioExtra03/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/EjercicioExtra03/build/
/POO/semana 17-encuentros 51,52,53,54/EjercicioExtra04/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/POOEj14/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/POOEj14/build/
/POO/semana 17-encuentros 51,52,53,54/POOEj11/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/DesafioPOO3/nbproject/private/
/POO/semana 17-encuentros 51,52,53,54/POOEj11/build/
/POO/semana 18-encuentros 55,56,57,58/DesafioPOO3/build/